.container-header {
    overflow: hidden;
    background-color: rgb(44, 44, 44);
    width: 100%;
    z-index: 50;

    .programa {
        display: inline-flex;
        float: left;
        padding-left: 10px;

        img {
            height: 60px;
        }

        p {
            color: white;
            line-height: 58px;
        }
    }

    .boton {
        float: right;
        padding-top: 15px;
        padding-right: 20px;
    }
}