<div class="container-perfil">
    <div class="banner">
        <div class="imgBanner">
            <img class="img-banner" src="../../../../assets/banner.jpg" alt="imagen ilustrativa de programacion">
        </div>
    
        <div class="boton d-grid gap-2 d-md-flex justify-content-md-end">
            <button id="editarPagina" class="btn btn-primary">Editar
                Perfil
            </button>
        </div>
    </div>
    
    <div class="info">
        <div class="imgPerfil">
            <img class="img-perfil" src="../../../../assets/Ailen Vazquez.jpg" alt="imagen de perfil">
        </div>

        <div class="row">
            <div class="col-3 datosPerfil">
                <h5>Ailen Denis Vazquez Gutoff</h5>
                <h6>Full Stack Develouper Jr</h6>
            </div>
            
            <div class="col-9 datoProfesional">
                <h4>Información profesional</h4>
            
                <div>
                    <textarea name="" id="parrafoProfesional" cols="100" rows="5"
                        readonly>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident nemo omnis repudiandae assumenda deserunt voluptatibus ipsa quidem optio modi tempore, consequuntur, deleniti, quibusdam maxime harum excepturi rerum unde? Deleniti, maxime quidem? Ad illo quos, nam aperiam voluptatem esse iste architecto minus.</textarea>
            
                    <button id="botonProfesional">Editar</button>
                </div>
            </div>
        </div>
    </div>
</div>