<div class="row container-experiencia">
    <div class="col-3">
        <img src="../../../../../assets/Empleo.jpg" alt="">
    </div>

    <div class="infoEmpleo col-9">
        <h5>Titulo del puesto</h5>

        <textarea id="parrafoEmpleo" cols="100" rows="1" readonly>
            De fecha a fecha
        </textarea>

        <textarea id="parrafoEmpleo" cols="100" rows="3" readonly>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum pariatur dolores dignissimos at necessitatibus fugit aperiam aliquid perferendis delectus?
        </textarea>
        <br>

        <button class="botonEmpleo">Editar</button>
    </div>

</div>